.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgb(30, 30, 30);
}

.logo {
  object-fit: cover;
  height: 3.2rem;
  width: 10rem;
}

.desktop-menu-btn span {
  padding-right: 1rem;
}
.desktop-menu-list-item {
  margin: 1rem;
  cursor: pointer;
}

.desktop-menu-list-item:hover {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}

.desktop-menu-btn {
  border: none;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
}

.desktop-menu-img {
  object-fit: cover;
  width: 1rem;
  height: 1rem;
  margin: 1rem;
}

.active {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}

.nav-menu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0.5rem;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.list-item {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}
.mob-menu {
  display: none;
  height: 2rem;
  object-fit: cover;
}

@media screen and (max-width: 720px) {
  .mob-menu {
    display: flex;
  }

  .desktop-menu {
    display: none;
  }

  .desktop-menu-btn {
    display: none;
  }
}

.desktop-menu {
  margin-left: 6rem;
}
